%h4
  %b= user.name

%p
  %span.glyphicon.glyphicon-envelope
  %b= user.email

%p
  = "Joined"
  %span{"data-toggle" => "tooltip", "data-placement" => "right", :title => user.created_at.strftime("%d-%m-%y, %H:%M:%S")}
    = "#{time_ago_in_words(user.created_at)} ago" 

- if user_signed_in? && current_user == user
  \this is you
    
%br
%br    
    
- if announcements.count == 0
  %h4 This user has not added any announcements yet.
- else
  %h4= "Announcements by #{user.name}:"
  %br
  - announcements.each do |announcement|
    %p= announcement.title
     
%br
     
- if participants.count == 0
  %h4 This user has not responded to any announcements yet.
- else
  %h4= "Responses by #{user.name}:"
  %br
  - participants.each do |participant|
    %p= participant.announcement.title
    
