!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Boardapp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-narrow
      %nav.navbar.navbar-default
        .navbar-header
          %span.navbar-brand board thing
        %ul.nav.nav-pills.pull-right
          - if user_signed_in?
            %li= link_to current_user.name, current_user
         
            %li= link_to "Log out", destroy_user_session_path, :method => :delete
          - else
            %li= link_to "Log in", new_user_session_path
            %li= link_to "Sign up", new_user_registration_path
      %p.notice= notice
    
      = yield
      
      .page-stretcher
      .cover

